#bloc-page {
    overflow: hidden;
}




header {
    background-image: url(images-et-photos-gratuites-libres-de-droits-te虂le虂chargement-gratuits12-548x581.png);
    background-position: center;
    background-repeat: no-repeat;
    color: aliceblue;
    max-height: 50em;
}

.font {
    position: relative;
    top: 3em;
}

.logo {
    position: relative;
    top: -1.8em;
    right: -0.55em;
}

a {
    color: aliceblue;
    position: relative;
    top: 5em;
    right: -1em;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.47;
    letter-spacing: 0.50px;
}

.paddignleft {
    padding-left: 1.5em;
}

a:hover {
    color: aliceblue;
}

h1 {
    padding-top: 3em;
}

.titre {
    font-weight: bold;
}

.screenphone {
    position: relative;
    left: 30em;
    top: -24em;
}
.dowload {
    padding-top: 2em;
}




#one {
    display: block;
    background-color: #f2f6fa;
    max-height: 50em;
}

h2 {
    font-size: 18px;
    line-height: 2.11;
    color: #ab3a85;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.58;
    color: #201f28;
}

.paragraph2, .paragraph3 {
    font-size: 14px;
    line-height: 1.79;
    color: #7d7d80; 
}

.button-custom {
    background-image:linear-gradient(to right, #50bee4, #ab3a85);
    box-shadow: 0px 5px 15px 0 rgba(32, 31, 40, 0.3);
    position: relative;
    top: 1em;
    border-radius: 3em;
    border:none;
}

.phone2 {
        position: relative;
        top: -35em;
        left: 12em;
}

.bloc1 {
    position: relative;
    left: 5em;
    top: 4em;
}

#blocone {
    position: relative;
    top: 10em;
}




h4 {
    position: relative;
    left: 28em; 
    font-size: 18px;
    line-height: 2.11;
    color: #ab3a85;
}

h5 {
    position: relative;
    left: 15.7em;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.58;
    color: #201f28;
}

.avantages1 {
    position: relative;
    top: 11em;
    left: 3.5em;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.15px;
    color: #201f28;
}

.avantages2 {
    position: relative;
    left: 53em;
    top: -36em;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.15px;
    color: #201f28;
}

.screenphone1 {
    position: relative;
    left: 24em;
    top: -12em;
}

.bloc2 {
    position: relative;
    top: 5em;
}




#captures-d-ecran {
    display: block;
    background-color: #f2f6fa;
    position: relative;
    top: -18.8em;
    height: 50em;
}

h7 {
    position: relative;
    left: 30em;
    top: 5em;
    font-size: 18px;
    font-weight: bold;
    line-height: 2.11;
    color: #ab3a85; 
}

h8 {
    position: relative;
    left: 15em;
    top: 4em;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.58;
    color: #201f28;
}

.imgapp {
    position: relative;
    top: 8em;
    left: 4em;
}




#two {
    display: block;
    background-image: url(section.png);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    top: -20em;
    height: 30em;
    
}
  
h9 {
    position: relative;
    top: 3.5em;
    left: 15em;
    font-size: 28.5px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}

.paragraph4 {
    position: relative;
    top: 8em;
    left: 22.5em;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.6;
    letter-spacing: 0.38px;
    text-align: center;
    color: #ffffff;
}

.dowload1 {
    position: relative;
    top: 10em;
    left: 25em;
    padding: 0.3em;
}




h10 {
    position: relative;
    top: -15em;
    left: 30em;
    font-size: 18px;
    font-weight: bold;
    line-height: 2.11;
    color: #ab3a85;  
}

h11 {
    position: relative;
    top: -11.3em;
    left: 18.5em;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.58;
    color: #201f28;
  
}

.rounded-circle  {
    position: relative;
    top: -10em;
    left: 4em;
}

h12 {
    position: relative;
    top: -10em;
    left: 5em;
    font-size: 18px;
    font-weight: bold;
    color: #201f28;  
}

.commentaire {
    position: relative;
    top: -11em;
    left: 1em;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.69;
    color: #7d7d80;
}
    
.etoile {
    position: relative;
    top: -4.5em;
    left: -21em;
    margin: 0.3em;
}

.rounded-circle1 {
    position: relative;
    top: -6em;
    left: 35em;
}

.name {
    position: relative;
    top: -15.7em;
    left: 36.5em;
    font-size: 18px;
    font-weight: bold;
    color: #201f28;  
}

.commentaire1 {
    position: relative;
    top: -19em;
    left: 41em;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.69;
    color: #7d7d80;
}

.etoile1 {
    position: relative;
    top: -11em;
    left: 11.8em;
    margin: 0.3em;
}

.carousel {
    position: relative;
    top: -10em;
    left: 33em;
    padding: 0.3em;
}




#news {
    
    background-color: #f2f6fa;
    height: 19em;    
}

.c1, .c2, .c3, .c4 {
    font-size: 48.5px;
    color: #201f28;  
    position: relative;
    left: 1.5em;
    top: 2em;
}

.c2 {
    position: relative;
    left: 4.5em;
}

.c3 {
    position: relative;
    left: 9em;
}

.c4 {
    position: relative;
    left: 13.5em;
}

.c5, .c6, .c7, .c8 {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.18px;
    color: #7d7d80;  
    position: relative;
    left: 3.5em;
    top: 5em;
}


.c6 {
    position: relative;
    left: 12em;
}

.c7 {
    position: relative;
    left: 26em;
}

.c8 {
    position: relative;
    left: 40em;
}




footer {
    background-image: url(a.png);
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    height: 36em;
}


.infocontact, .infocontact1 {
    font-size: 29.5px;
    font-weight: bold;
    line-height: 1.29;  
}

.infocontact {
    position: relative;
    left: 13em;
    top: 3em;
}

.infocontact1 {
    position: relative;
    left: 6.9em;
    top: 4.3em;
}

form {
    position: relative;
    top: 11.5em;
    left: 6em;
}

.bouton {
    border-radius: 3em;
}

.conctact1 {
    font-size: 18px;
    font-weight: 600;
    line-height: 2.69;
    letter-spacing: 0.18px;
    position: relative;
    top: 10em;
    left: 25em;
}

.copyrights {
    font-size: 15px;
    font-weight: 600;
    line-height: 1.87;
    letter-spacing: 0.15px;
    position: relative;
    top: 13em;
    left: 26em;  
}

.sm {
    background-image: none;
}